
<div *ngIf="movie">
    <h2><span>Movie</span> {{movie.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{movie.title}}</span>
        </dd>
        <dt><span>Released</span></dt>
        <dd>
            <span>{{movie.released}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{movie.url}}</span>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
            <span *ngFor="let genre of movie.genres; let last = last">
                <a [routerLink]="['/genre', genre?.id ]">{{genre.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
